# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Docker
*.log
docker_mongo_data/
**/mongo_data/

# IDE
.idea/
.vscode/

# OS
.DS_Store

#API
.token.txt
wather_key.txt

# data
/practices/p*/data/
/practices/p6/output/

# LibreOffice lock files
.~lock.*
